# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore SQLite database
# db.sqlite3

# Ignore media uploads
# media/

# Ignore virtual environments
myenv/
*.venv
venv/
virtual-env/

# Any other environment files
*.env
