{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hotel App{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'bookings/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/css/pikaday.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/pikaday.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>


    <!-- base.html -->

    <!-- w3 -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


     

</head>

<body>
  <div id="content-wrap">
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'bookings:home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'bookings:book_apartment' %}">Book Now</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'bookings:contact' %}">Contact</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="{%url 'bookings:logout' %}" class="nav-link">{{ user.first_name }} (Logout)</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'bookings:profile' %}" class="nav-link">Profile</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'bookings:display_bookings' %}" class="nav-link">My Bookings</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a href="{% url 'bookings:register' %}" class="nav-link">Register</a>
            </li>
            <li>
              <a href="{% url 'bookings:login' %}" class="nav-link">Login</a>
            </li>
            {% endif %}
            <!-- Add more links as needed -->
          </ul>
        </div>
      </nav>
    {% endblock %}
        {% if messages %}
          <div class="container mt-3">
              <div class="row">
                  <div class="col-md-12">
                      {% for message in messages %}
                      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                          {{ message }}
                      </div>
                      {% endfor %}
                  </div>
              </div>
          </div>
        {% endif %}

      <!-- {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %} -->
    
    <main class="flex-grow-1">
        {% block content %}
        <!-- This block will be replaced by the content of child templates -->
        {% endblock %}
    </main>
  </div>
  
    
  <footer>
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-auto text-center text-md-left mb-2 mb-md-0">
                © 2023 Your Hotel Name. All Rights Reserved.
            </div>
            <div class="col-12 col-md-auto text-center text-md-right">
                <a href="{% url 'bookings:privacy_policy' %}" class="d-inline-block ml-2 ml-md-3">Privacy Policy</a>
                <a href="{% url 'bookings:terms_and_conditions' %}" class="d-inline-block ml-2 ml-md-3">Terms & Conditions</a>
            </div>
        </div>
    </div>
  </footer>


    <!-- Add any common scripts here, for example, jQuery or Bootstrap scripts -->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</body>

</html>
