
<body>
{% extends "bookings/base.html" %}
{% load static %}
{% block content %}
<section class="welcome-area">
      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax" style="background-image: url({% static '/bookings/img/wallpaperflare.com_wallpaper.jpg' %});">
        <div class="container h-100"> 
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInDown" data-delay="100ms">Experience Comfort Away From Your Home in The Hearth Of Zadar</h2>
                <p data-animation="fadeInDown" data-delay="300ms">Discover the charm of Zadar with a comfortable stay at our apartment. We believe in offering a warm and inviting space that feels just like home.</p>
                <div class="welcome-btn-group">
                  <a href="{% url 'bookings:book_apartment' %}" class="btn dento-btn mx-2" data-animation="fadeInDown" data-delay="500ms">Book Now</a>
                  <a href="{% url 'bookings:contact' %}" class="btn dento-btn mx-2 active" data-animation="fadeInDown" data-delay="700ms">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
</body>
</html>
