{% extends "bookings/base.html" %}

{% block navbar %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-success text-white">
                    Success!
                </div>
                <div class="card-body text-center">
                    <p class="card-text">Password has been changed successfully!</p>
                    <a href="{% url 'bookings:profile' %}" class="btn btn-primary">Back to profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
