{% extends "bookings/base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">


<div class="container mt-5" style="padding-top: 50px; padding-bottom: 100px;">
    <div class="row">
        <div class="col-md-6">
            <h2>Your Profile</h2>
            <form method="post" action="{% url 'bookings:profile' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" name="{{ form.username.name }}" value="{{ user.username }}" readonly>
                    <small class="text-muted">You cannot change your username.</small>
                </div>
                <!-- Other Fields -->
                <div class="mb-3">
                    <label class="form-label">First Name</label>
                    <input type="text" class="form-control" name="{{ form.first_name.name }}" value="{{ user.first_name }}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Last Name</label>
                    <input type="text" class="form-control" name="{{ form.last_name.name }}" value="{{ user.last_name }}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" name="{{ form.email.name }}" value="{{ user.email }}">
                </div>

                <a class="d-block mt-2">
                    <a href="{% url 'bookings:password_change' %}">Reset Password</a>
                </a>

                <button type="submit" class="btn btn-primary">Update Profile</button>

                <a href="{% url 'bookings:delete_account' %}" class="btn btn-danger">Delete Account</a>

            </form>
        </div>
    </div>
</div>


{% endblock %}
