@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");



body, html {
  height: 100%;
  margin: 0;

}
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif,}
body,h1,h2,h3,h4,h5,h6 {font-size: 50px;}

body {
  display: flex;
  flex-direction: column;
}

#content-wrap {
  flex: 1; /* This makes it take up all available space, pushing the footer down */
}

footer {
  box-sizing: border-box;
  height: auto;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}


