<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <!-- Template content goes here -->
        <!-- ... common setup ... -->

        <form method="post" class="mx-auto w-50 mt-5">
            {% csrf_token %}
            <h3 class="mb-4">Password Reset</h3>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email:</label>
                <input type="email" name="{{ form.email.name }}" class="form-control" id="{{ form.email.id_for_label }}" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Send Password Reset Email</button>
        </form>

        <!-- ... closing tags ... -->


    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
